*.elf
*.hex
build/
.sconsign.dblite
__pycache__/
node_modules/
npm-debug.log
*.sublime*
hokuyo/bin/hokuyo
CMakeCache*
CMakeFiles*
cmake_install*
*calculate_xy
*find_port
*get_distance
*get_distance_intensity
*get_multiecho
*get_multiecho_intensity
*sensor_parameter
*sync_time_stamp
*liburg_c.a