<div ng-controller="SimulateurCtrl" style="margin-top:0" >
	<div id="simu_before" >
		<button type="button" class="btn" ng-click="vueDeFace()">Réinitialiser la vue</button> 
<!-- 		<button type="button" class="btn" ng-click="vueDeDessus()">Vue de dessus</button> 
		<button type="button" class="btn" ng-click="vueDeDerriere()">Vue de derrière</button> 
		<button type="button" class="btn" ng-click="vueDeGauche()">Vue de gauche</button> 
		<button type="button" class="btn" ng-click="vueDeDroite()">Vue de droite</button> -->
		<button type="button" class="btn" ng-click="iaPlacerPr()">Placer PR</button> 
		<button type="button" class="btn" ng-click="iaCollisionPr()">Collision PR</button> 
		<button type="button" class="btn" ng-click="iaStop()">Stop</button> 
		<button type="button" class="btn" ng-click="iaJack()" style="margin-left:20px;">Jack</button> 
		<span style="margin-left:20px;">GR : x : {{ pos_gr.x }}mm, y : {{ pos_gr.y }}mm, a : {{ pos_gr.a }}°</span>
		<span style="margin-left:20px;">PR : x : {{ pos_pr.x }}mm, y : {{ pos_pr.y }}mm, a : {{ pos_pr.a }}°</span>
	</div>
	<div id="simulateur_container" name="simulateur_c" class="simulateur_c" style="width:99%" >
	</div>
</div>


