<style type="text/css">
	@import url(pages/telecommande/telecommande.css);
</style>
<div ng-controller="TelecommandeCtrl">
	<h1>Télécommande</h1>

	<section>
		<h2>Synchro</h2>
		<button type="button" class="btn" ng-click="serverSyncAllGit()">ALL Sync Git</button> 
		<button type="button" class="btn" ng-click="hokSyncGit()">HOK Sync Git</button> 
		<button type="button" class="btn" ng-click="prSyncGit()">PR Sync Git</button>
		<button type="button" class="btn" ng-click="serverFlashArduinos()">Flash Arduinos</button> 
	</section>

	<section>
		<h2>Match</h2>
		<button type="button" class="btn" ng-click="iaJack()">Jack</button> 
		<button type="button" class="btn" ng-click="iaStop()">Stop (IA)</button>
	</section>

	<section>
		<h2>Tibot</h2>
		<p>
			<button type="button" class="btn" ng-click="tibot.prendreModule()">Prendre Module</button>
			<button type="button" class="btn" ng-click="tibot.monterModule()">Monter Module</button>
			<button type="button" class="btn" ng-click="tibot.deposerModule()">Déposer Module</button>
			<button type="button" class="btn" ng-click="tibot.resetNbModules()">Reset Nb Modules</button>
			<button type="button" class="btn" ng-click="tibot.fermerTout()">Fermer Tout</button>
			<button type="button" class="btn" ng-click="tibot.ouvrirTout()">Ouvrir Tout</button>
			<button type="button" class="btn" ng-click="tibot.clean()">Clean FiFo</button>
			<button type="button" class="btn" ng-click="tibot.stop()">Stop</button>
		</p>
		<div>
			<h3>Asserv</h3>
			<p>
				Gauche : <input type="number" ng-model="tibot.pwm_gauche" />
				Droite : <input type="number" ng-model="tibot.pwm_droite" />
				<input type="number" ng-model="tibot.pwm_ms" /> ms
				<button type="button" class="btn" ng-click="tibot.setPWM()">Set PWM</button>
			</p>

			<p>
				x : <input type="number" ng-model="tibot.x" /> mm;
				y : <input type="number" ng-model="tibot.y" /> mm;
				a : <input type="number" ng-model="tibot.a" /> deg
				<button type="button" class="btn" ng-click="tibot.goPos()">Go to position</button>
				<button type="button" class="btn" ng-click="tibot.goAngle()">Go to angle</button>
				<button type="button" class="btn" ng-click="tibot.goPosAngle()">Go to position and angle</button>
			</p>

			<p>
				<input type="number" ng-model="tibot.v" /> mm/s
				<input type="text" class="nombreVirgule" ng-model="tibot.r" /> <!-- les champs de type number n'acceptent que des nombres entiers -->
				<button type="button" class="btn" ng-click="tibot.setVit()">Set vitesse</button>
				Accélération : <input type="number" ng-model="tibot.acc" /> 
				<button type="button" class="btn" ng-click="tibot.setAcc()">Set accélération</button>
			</p>

			<p>
				x : <input type="number" ng-model="tibot.set_x" /> mm;
				y : <input type="number" ng-model="tibot.set_y" /> mm;
				a : <input type="number" ng-model="tibot.set_a" /> deg
				<button type="button" class="btn" ng-click="tibot.setPos()">Set Pos</button>
			</p>
			<p>
				P : <input type="text" class="nombreVirgule" ng-model="tibot.PID_P" />;
				I : <input type="number" ng-model="tibot.PID_I" />;
				D : <input type="number" ng-model="tibot.PID_D" />
				<button type="button" class="btn" ng-click="tibot.setPID()">Set PID</button>
			</p>
		</div>

		<div>
			<h3>Extensions : </h3>
			<!-- coupe15 
			<p>
				Servo (WiP):
				<select ng-model="tibot.selectedServo">
					<option value="">--</option>
					<option value="left_stab">left_stab</option>
					<option value="right_stab">right_stab</option>
					<option value="left_arm">left_arm</option>
					<option value="right_arm">right_arm</option>
				</select>
				Position servo :
				<input type="text"  class="nombreVirgule" ng-model="tibot.posServo"> 
				<button type="button" class="btn" ng-click="tibot.updateSelectedServo()">Go !</button>
			</p>
			<p>
				Stabilisateurs :
				<button type="button" class="btn" ng-click="tibot.fermerStabilisateurs">Fermer</button>
				<button type="button" class="btn" ng-click="tibot.ouvrirUnPeuStabilisateurs">Ouvrir un peu</button>
				<button type="button" class="btn" ng-click="tibot.ouvrirStabilisateurs">Ouvrir</button>
			</p>
			<p>
				Bras :
				<button type="button" class="btn" ng-click="tibot.closeArm()">Fermer</button>
				<button type="button" class="btn" ng-click="tibot.ouvrirUnPeuArm()">Ouvrir un peu</button>
				<button type="button" class="btn" ng-click="tibot.ouvrirArm()">Ouvrir</button>
			</p>
			<p>
				AX12 :
				<button type="button" class="btn" ng-click="tibot.closeAx12">Fermer</button>
				<button type="button" class="btn" ng-click="tibot.ouvrirAx12">Ouvrir</button>
			</p>
			-->
			<p>
				Unit grabber :
				<button type="button" class="btn" ng-click="tibot.openUnitGrabber()">Ouvrir</button>
				<button type="button" class="btn" ng-click="tibot.closeUnitGrabber()">Fermer</button>
			</p>
			<p>
				Base Constructor :
				<button type="button" class="btn" ng-click="tibot.depositModule()">Déposer module</button>
			</p>
		</div>
	</section>

	<h2>GR</h2>
	<button type="button" class="btn" ng-click="grAcheter()">Acheter</button> 
	<button type="button" class="btn" ng-click="grVendre()">Vendre</button> <br><br>
	G <input type="number" ng-model="gr_pwm_gauche" />
	D <input type="number" ng-model="gr_pwm_droite" />
	<input type="number" ng-model="gr_pwm_ms" /> ms
	<button type="button" class="btn" ng-click="grPWM()">PWM</button><br><br>
	x : <input type="number" ng-model="gr_x" /> mm ; y : <input type="number" ng-model="gr_y" /> mm
	<button type="button" class="btn" ng-click="grGoxy()">Go to xy</button><br><br>
	<input type="number" ng-model="gr_a" /> deg
	<button type="button" class="btn" ng-click="grGoa()">Go to angle</button><br><br>
	<button type="button" class="btn" ng-click="grGoxya()">Go to xy angle</button><br><br>
	<input type="number" ng-model="gr_v" /> mm/s
	<input type="number" ng-model="gr_r" /> 
	<button type="button" class="btn" ng-click="grSetVit()">Set vitesse</button><br><br>
	<!-- <button type="button" class="btn" ng-click="grClean()">Clean</button><br><br> -->

	<section>
		<h2>Hokuyo</h2>
		Nb robots :
		<select ng-model="hokuyo.nbRobots">
			<option value="4">4</option>
			<option value="3">3</option>
			<option value="2">2</option>
			<option value="1">1 (test)</option>
		</select>
		Couleur :
		<select id="hokuyo.couleur">
			<option value="green">vert</option>
			<option value="yellow">jaune</option>
		</select>
		<button type="button" class="btn" ng-click="hokuyo.start()">Start</button>
		<button type="button" class="btn" ng-click="hokuyo.stop()">Stop</button>
	</section>
</div>
